[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole
